QB_BIND=127.0.0.1
QB_HTTP_PORT=8787
QB_PUBLIC_DOMAIN=
QB_VERSION=0.1.0-alpha1
QB_SESSION_SECRET=change-me
QB_WRAPPER_REPOSITORY=https://github.com/Starlight-Unit-Studio/Quantum-Mobile-Wrapper.git
QB_WRAPPER_REF=compat/android-6-api23
QB_POLL_SECONDS=3
